.Rproj.user
.Rhistory
.RData
.Ruserdata
alg_design_trials.R
Scenarios-for-e-mobility-Survey.html
Scenarios-for-e-mobility-Survey-.html
Scenarios-for-e-mobility-Survey_new.html
Initial_presentation_for_scenarios.html
plan.xlsx
output.xlsx
gaziantep.xlsx
gaziantep_output.xlsx
izmir.xlsx
izmir_output.xlsx
survey_results.html
